@media only screen and (max-width: 600px) and (min-width: 360px){
    .productpage{
    display: grid;
    grid-template-columns: 1;
    } 
    .Add{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .Addimg{
        width: 100%;
    }
}

@media only screen and (max-width: 720px) and (min-width: 540px){
    .productpage{
    display: grid;
    grid-template-columns: 20% 80%;
    } 
}
@media only screen and (max-width: 1440px) and (min-width: 720px){
    .productpage{
    display: grid;
    grid-template-columns: 20% 80%;
    } 
    .ProductDetail{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 300px;
    gap: 1%;


    }
    .parent{
        display: grid;
        grid-template-columns: 55% 32%;
        justify-content: center;
        gap: 2%;
    }
   
}
